<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SourceConnectionString" 
         value="[Value comes from .debug.config and .release.config transformation at build." />
    <add key="SourceShare" 
         value="[Value comes from .debug.config and .release.config transformation at build." />
    <add key="DestinationConnectionString" 
         value="[Value comes from .debug.config and .release.config transformation at build." />
    <add key="DestinationShare" 
         value="[Value comes from .debug.config and .release.config transformation at build." />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>