<!-- TODO: Follow the instructions below... -->
<!-- Create a new file called App.appsettings.config. -->
<!-- Set the "Copy to Output Directory" property of App.appsettings.config to "Copy always". -->
<!-- Paste the contents of this file in App.appsettings.config with your values. -->
<appSettings>
  <add key="SourceConnectionString"
       value="[INSERT YOURS]" />
  <add key="SourceShare"
       value="[INSERT YOURS]" />
  <add key="DestinationConnectionString"
       value="[INSERT YOURS]" />
  <add key="DestinationShare"
       value="[INSERT YOURS]" />
</appSettings>